# ============================================================
# Python GitOps Workflow Demo - Ansible Configuration
# ============================================================

[defaults]

# Default inventory for local orchestration
inventory = inventory/localhost.yml

# Project-specific Ansible roles
roles_path = roles

# Disable creation of retry files
retry_files_enabled = False

# Improve terminal output
stdout_callback = default

# Avoid unnecessary host-key checking for localhost orchestration
host_key_checking = False

[privilege_escalation]

# Do not use sudo globally.
# Individual tasks can explicitly request privilege escalation if required.
become = False